@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
body {
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  background-image: url("../images/bckgrd.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section h1 {
  margin-top: 5%;
  font-size: 40px;
  letter-spacing: 4px;
  text-align: center;
  font-family: 'Permanent Marker', cursive;
}

@media (max-width: 500px) {
  section h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }
}

section .calculator {
  margin-top: 10%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 450px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 4px 6px #4d4d4d;
  background-color: #e6e6e6;
}

@media (min-width: 1920px) {
  section .calculator {
    width: 800px;
  }
}

@media (max-width: 500px) {
  section .calculator {
    width: 100%;
  }
}

section .calculator form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .calculator form .plusMinus {
  width: 10%;
  height: 50px;
}

section .calculator form input {
  width: 75%;
  height: 40px;
  text-align: right;
  border: none;
  border: 2px solid black;
  border-radius: 5px;
  padding-right: 10px;
  margin: 5% 2%;
  font: inherit;
}

@media (min-width: 1920px) {
  section .calculator form input {
    font-size: 18px;
  }
}

section .calculator form input:focus {
  outline: none;
}

section .calculator form input[type=number]::-webkit-inner-spin-button,
section .calculator form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section .calculator form .info {
  width: 200px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-direction: column;
      flex-direction: column;
  background-color: #668cff;
  margin: 10px 10px;
  color: #fff;
  border-radius: 5px;
  height: 60px;
  font-size: 14px;
}

@media (min-width: 1920px) {
  section .calculator form .info {
    width: 250px;
    font-size: 18px;
    height: 70px;
  }
}

section .calculator form .info p {
  margin: 0;
  padding: 0 0 0 12px;
}

section .calculator form .info select {
  width: 200px;
  height: 30px;
  border: none;
  padding-left: 10px;
  background-color: #668cff;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  color: #fff;
  font: inherit;
  cursor: pointer;
}

@media (min-width: 1920px) {
  section .calculator form .info select {
    width: 250px;
  }
}

section .calculator form .info select:focus {
  outline: none;
}

section .calculator form .info select optgroup {
  font-weight: 40;
}

section .calculator form button {
  width: 200px;
  height: 60px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: #5cd65c;
  border-color: #5cd65c;
  border-radius: 5px;
  transition: 0.5s;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1920px) {
  section .calculator form button {
    width: 250px;
    margin-left: 70px;
    font-size: 18px;
    height: 70px;
  }
}

@media (max-width: 435px) {
  section .calculator form button {
    margin-bottom: 15px;
  }
}

section .calculator form button:hover {
  background: #2eb72e;
  color: #aeebae;
}

section .calculator form button:focus {
  outline: none;
}

section .calculator .answer {
  padding: 20px 5px;
  background-color: white;
  width: 90%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  min-height: 100px;
  height: 100%;
  margin: 5%;
  letter-spacing: 0.5px;
  line-height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 14px;
}

@media (min-width: 1920px) {
  section .calculator .answer {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.prefixed.css.map */